/* Set Customizable Variables Here */
:root {
    --nav-bar-color: #ffa500;
    --nav-bar-highlight-color: #000;
    --homepage-img: url("../img/homepage.jpg");
    --font-style: Garamond;
    --font-color: #fff;
    --link-color: skyblue;
}



/* Do not change variables below */

@media (min-width: 200px) and (max-width: 500px) {
    #main ul {
        display: none;
    }
    #main select {
        width: 30%;
        margin-top: 15px;
    }
}

@media (min-width: 500px) {
    #main ul {
        margin-top: 0px;
    }
    #main select {
        display: none;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-style);
    margin: 0px;
}

#mainnav {
    background: var(--nav-bar-color);
    text-align: center;
    height: 3rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    text-align: center;
    width: 5rem;
}

ul li a {
    color: var(--font-color);
    width: 100%;
    line-height: 3rem;
    text-decoration: none;
}

ul li.highlight {
    background: var(--nav-bar-highlight-color);
}

ul li.highlight a {
    color: var(--nav-bar-color);
}

.container {
    background-image: var(--homepage-img);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-color);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;    
}

a {
    font-size: 1rem;
    color: var(--link-color);
}